/* fonts */
@import url(../vendor/bootstrap/css/bootstrap.css);
@import url(../vendor/fonts/font-awesome/css/font-awesome.css);
@import url(../vendor/fonts/opensans/stylesheet.css);
@import url(../vendor/owlcarousel/owl.carousel.css);
/*------------------------------------------------------------------
CSS
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Body]
*/
/* Typography */
body {
  color: #F6F6F6;
  font-family: "open_sanslight";
  font-size: 14px;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 0 0 15px; }

h1 {
  font-weight: 300;
  color: #404041;
  font-family: "open_sanslight";
  font-size: 2.857em; }

h2 {
  font-size: 1.428em;
  font-family: "open_sanslight";
  color: #8c8c8c; }

h3 {
  font-size: 1.428em;
  font-family: "patua_oneregular";
  color: #404041; }

a {
  color: #db1c2f;
  outline: none; }
  a:hover, a:focus {
    color: #050505;
    outline: none;
    text-decoration: none; }

p, ul, ol {
  margin-bottom: 20px; }

address {
  line-height: 1.7; }

label {
  font-weight: 100; }

img {
  max-width: 100%;
  height: auto; }

.form-text, .form-select, .form-textarea {
  border: 1px solid #d1d1d1;
  padding: 10px; }

/* headline */
.headline {
  background: #0E76BC; }
  .headline .container {
    padding: 0px; }
    .headline .container ul li {
      padding-bottom: 15px;
      padding-top: 15px;
      padding-right: 15px; }
      .headline .container ul li .noneborder {
        border-right: none;
        padding-right: 0px; }
      .headline .container ul li a {
        color: #fff;
        border-right: 1px solid #fff;
        padding: 0px;
        font-size: 1em;
        padding-right: 10px;
        font-family: "open_sanslight";
        line-height: 10px; }
        .headline .container ul li a:hover {
          background-color: inherit;
          text-decoration: underline; }
    .headline .container ul .cart {
      padding-right: 0px; }
    .headline .container ul .drupalitem {
      background-color: #e2605a;
      padding-right: 15px; }
      .headline .container ul .drupalitem:hover {
        background-color: #D5524C; }
      .headline .container ul .drupalitem a {
        padding-left: 8px;
        padding-right: 2px;
        height: 15px; }
        .headline .container ul .drupalitem a:hover {
          text-decoration: none; }
    .headline .container ul .faq a {
      padding-left: 15px; }

/* header */
.header {
  border-bottom: 1px solid #E5E5E5;
  height: 60px; }
  .header .container {
    padding: 0px; }
    .header .container ul {
      padding: 0px; }
      .header .container ul li {
        height: 60px;
        border-right: 1px solid #E5E5E5; }
        .header .container ul li a {
          padding-left: 5px;
          color: #414141;
          padding-top: 18px;
          padding-bottom: 18px; }
  .header .logo {
    margin-top: 15px; }

.main-menu {
  float: right;
  padding-top: 19px; }
  .main-menu ul {
    padding-left: 0;
    margin-bottom: 0; }
  .main-menu li {
    list-style-type: none;
    float: left;
    margin-left: 25px; }
    .main-menu li a {
      display: inline-block;
      text-transform: uppercase;
      color: #050505;
      font-size: 0.928em;
      font-family: 'open_sansregular'; }
      .main-menu li a:hover, .main-menu li a:focus {
        color: #db1c2f; }
    .main-menu li.active a {
      color: #db1c2f; }

.slideshow {
  margin-top: 62px;
  border-bottom: 1px solid #E5E5E5; }
  .slideshow .container {
    padding: 0px; }
    .slideshow .container .carousel .carousel-indicators {
      margin-left: 9%; }
      .slideshow .container .carousel .carousel-indicators li {
        background-color: #fff; }
      .slideshow .container .carousel .carousel-indicators .active {
        background-color: #0E75BA;
        border: none; }
    .slideshow .container .button {
      margin-top: 60px;
      margin-bottom: 60px; }
      .slideshow .container .button a {
        display: inline-block;
        background-color: #0e76bc;
        border-radius: 3px;
        padding: 12px 45px;
        color: white;
        text-decoration: none;
        border-bottom: 3px solid #186599;
        margin: 0px 3px; }
        .slideshow .container .button a:hover {
          background-color: #0666A7; }

.main {
  margin-top: 60px; }
  .main .introduce .row .col-md-6 .media .media-body p {
    color: #4C525E;
    font-size: 14px; }

/*# sourceMappingURL=style.css.map */
