/*------------------------------------------------------------------
[1. Body]
*/
/* Typography */

body {
	color: $body-color;
	font: {
		family: $font-body;
		size: $body-font-size;
	}
	line-height: 1.6;
	background-color: #F6F6F6;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin: 0 0 15px;
}
h1 {
	font-weight: 300;
	color:#404041;
	font:{
		family:$font-body;
		size:$fontsize-40;
	}
}
h1, h2, h3, h4, h5, h6 {
}
h2 {
	font-size:$fontsize-20;
	font-family: $font-body;
	color: #8c8c8c;
}
h3 {
	font-size: $fontsize-16;
	font-family: $font-third;
	color:#404041;
}
p, ul, ol {
	margin-bottom: 20px;
}
address {
	line-height: 1.7;
}
label {
	font-weight: 100;
}
img{
	max-width: 100%;
	height: auto;
}

.form-text, .form-select, .form-textarea{
	border: 1px solid #d1d1d1;
	padding: 10px;
}
a{
	padding:0px;
	margin:0px;
}
