/* headline */
.headline{
	background: $blue-color;

	.container{
	padding-top:10px;
	padding-bottom:10px;
		ul{
			li{
				padding-left:10px;
				padding-right:10px;
				border-right:1px solid #fff;

				a{
					color:$white-color;
					padding:0px;
					font-size:$fontsize-14;
					font-family:$font-body;
					line-height:10px;
					&:hover{
						background-color:inherit;
						text-decoration: underline; 
					 	}
					}
			}
			.noneborder{
					border-right:none;
					padding-right:0px;
				}
			.cart{
				padding-right:0px;
				padding-bottom:-1px;
			}
			.drupalitem{
				background-color:#e2605a;
				margin-top: -15px;
				margin-bottom: -14px;
				&:hover{
					background-color: #D5524C;
				}
				padding-right:15px;
				a{
					padding-top:15px;
					padding-bottom:14px;
					&:hover{
						text-decoration: none; 
					 	}
				}

			}
		}
	}
}

/* header */
.header{
	border-bottom: 1px solid #E5E5E5 ;
	.container{
		padding:0px;
		ul{
			padding:0px;
			.active{
				background-color:white;
			}
			li{
				border-right: 1px solid #E5E5E5 ;
				a{
					padding:22px;
					color:#414141;
					font-family:$font-primary;
					font-size:$body-font-size;
					&:hover{
					background-color:inherit;
					background-color:white;
				}
				}
			}
		}
	.logo{
			margin-top:15px;
		}
	}
}






